



body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
	
}

.wrapper {
    width: 90%;
    margin: 0 5%;
	 
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ===============
    title image
   =============== */
 .title::before {
     background-image: url("../img/logo.png");
     content: ' ';
     background-repeat: no-repeat;
     background-size: 2em;
     width: 2em;
     height: 2em;
     background-position: left;
     margin-right: .25em;
     display: inline-block;
     vertical-align: middle;
     box-shadow: .1em .1em .2em rgba(255,255,255, .75);
     opacity: 75%;
 }
 
 .title {
     color: white;
	 float: left;
	font-style: oblique;
	font-variant: small-caps;
 }
 
 .title1 {
     color: white;
	 float: left;
	font-style: oblique;
	font-variant: small-caps;
 }
 

/* ===============
   json error div
  =============== */
#error {
    border: double;
    color: rgba(240,128,128, .50);
    margin: 1em;
    padding: 0.5em;
}

#error dt {
    border: dotted 1px;
    margin: 0.5em;
    padding: 0.25em;
}

fieldset{
    border: dotted 1px;
    padding: 0.5em;

}

legend{
    border: dotted 1px;
}







article {
  float: right;
  margin: 5px;
  padding: 5;
}

section{
	
	background-color: LightYellow;
	box-shadow: 5px 10px 8px 10px #888888;
	border-radius: 5px;
}

p {text-align: justify;	
}

.h3{
	color: red;
}




  .d{
	float: left;
	margin: 5px;
	padding: 5
}



figure{
	display: inline;
}





.downs {
  width: 200px;
  float: left;
  margin: 18px;
  padding: 12px;
}



.downs a {
  background-color: #e44d26;
  color: white;
  text-decoration: none;
  text-align: center;
  
  
}

.downs a:hover {
  background-color: #e44d26;
}




#playlist,audio{background:#666;width:250px;padding:20px;}
.active a{color:#5DB0E6;text-decoration:none;}
li a{color:#eeeedd;background:#333;padding:5px;display:block;}
li a:hover{text-decoration:none;}
li {
	list-style: none;
}




















